{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">               
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="grid light-background">
            <img src="{{ MEDIA_URL }}media/plant.jpg" class="image-one mx-auto"alt="background plant">
            <img src="{{ MEDIA_URL }}media/hero.jpg" class="image-two mx-auto" alt="image of woman with caption">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h3 class="text-center mb-3">About Kenah</h3>
            <p class="lead text-center">
            Kenah is an independent hand-crafted business developed by two art lecturers based in Somerset
            </p>
            <hr class="my-4" />
            <p class="text-center">
            We sell sustainable, handmade cards and gifts on our Etsy shop and use our studio space to deilver <br> 
            specialised skill-based workshops to give our local community the opportunity to learn their own craft skills.
            </p>
            <p class="lead text-center">
            <a class="btn btn-md btn-custom" href="workshops.html" role="button"
                >Find out more about our workshops...</a>
            </p>
        </div>
    </div>
</div>
    
    <!--<div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-white">
                    <b>
                    The Ozbox Wellness programme is here!
                    </b>
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3 text-white">Sign up here</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>-->
    <!-- Newsletter Signup -->

{% endblock %}