{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <!--<div class="container header-container">
        <div class="row">
            <div class="col">               
            </div>
        </div>
    </div>-->
{% endblock %}

{% block content %}
    <div class="d-xl-block">
        <div class="grid light-background">
            <img src="{{ MEDIA_URL }}media/plant.jpg" class="image-one "alt="background plant">
            <img src="{{ MEDIA_URL }}media/hero.jpg" class="image-two " alt="image of woman with caption">
            <a class="programme-button btn btn-md rounded py-auto" href="{% url 'home' %}" role="button">Our Wellness Programmes</a>
        </div>
    </div>
    <!-- Shop Now Button -->
<!--<div class="container-fluid">
    <div class="row py-3">
        <div class="col-12 text-center py-3">
               <a class="programme-button btn btn-md rounded py-auto" href="{% url 'home' %}" role="button">Find out more about our Wellness Programmes</a>
        </div>
    </div>
</div>-->

    <br />

    <!-- Hearts and three words 

    <div class="container heart">
        <div class="row">
          <div class="col">
            <span class="display-font">Lifestyle</span>
            <img src="{{ MEDIA_URL }}media/heart-l.png" class="w-25" alt="">
          </div>
          <div class="col">
            <span class="display-font">Wellness</span>
            <img src="{{ MEDIA_URL }}media/heart-m.png" class="w-25" alt="">
          </div>
          <div class="col">
            <span class="display-font">Nutrition</span>
            <img src="{{ MEDIA_URL }}media/heart-r.png" class="w-25" alt="">
          </div>
        </div>
      </div> -->

    <!-- 3 features of our business -->

    <section class="features container-fluid">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12">
              <img src="{{ MEDIA_URL }}media/3-features-low2.jpg"  class="w-100 rounded" alt="" />
                <div class="my-4">
                    <span class="my-2 display-font">
                        <img src="{{ MEDIA_URL }}media/hearts-01.svg" class="w-25" alt="">
                    Lifestyle
                    </span>
                <p class="inline-block">
                    <strong>(Leading question about lifestyle improvement)?</strong> 
                    <br> (Short intro to the lifestyle element)
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
              <img src="{{ MEDIA_URL }}media/3-features-low3.jpg" class="w-100 rounded" alt="" />
              <div class="my-4">
                <span class="my-2 display-font">
                    <img src="{{ MEDIA_URL }}media/hearts-03.svg" class="w-25" alt="">
                    Wellness
                </span>
                <p class="inline-block">
                    <strong>(Leading question about your general wellness - mental/physical health)?</strong> 
                    <br> (Short intro of combining all elements to form mental/physical wellness).
                </p>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
              <img src="{{ MEDIA_URL }}media/3-features-low.jpg"  class="w-100 rounded" alt="" />
              <div class="my-4">
                <span class="my-2 display-font">
                    <img src="{{ MEDIA_URL }}media/hearts-02.svg" class="w-25" alt="">
                    Nutrition
                </span>
                <p>
                    <strong>(Leading question about nutritional improvement)?</strong> 
                    <br>(Short intro about the nutritional elemnent). <a href="#" target="_blank">(Link to related page)</a>
                </p>
              </div>
            </div>
          </div>
        </section>
    
        <hr class="rounded" />
        <br />
                

    <!--<div class="container">
        <div class="row">
            <div class="jumbotron">
                <h3 class="text-center mb-3">About Kenah</h3>
                <p class="lead text-center">
                Kenah is an independent hand-crafted business developed by two art lecturers based in Somerset
                </p>
                <hr class="my-4" />
                <p class="text-center">
                We sell sustainable, handmade cards and gifts on our Etsy shop and use our studio space to deilver <br> 
                specialised skill-based workshops to give our local community the opportunity to learn their own craft skills.
                </p>
                <p class="lead text-center">
                <a class="btn btn-md btn-custom" href="workshops.html" role="button"
                    >Find out more about our workshops...</a>
                </p>
            </div>
        </div>
    </div>-->
    
    <!--<div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-white">
                    <b>
                    The Ozbox Wellness programme is here!
                    </b>
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3 text-white">Sign up here</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>-->
    <!-- Newsletter Signup -->

{% endblock %}