html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow-x: hidden; 
}

body {
    padding-top: 300px;
    font-family: 'Montserrat', sans-serif;
    color: #808080;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5 rem;
    width: 1.5 rem;
}

.light-background {
    padding: 100px 100px 100px 100px;
    background-attachment: fixed;
    background-position: center; 
    background-color:#eaeae8;
}

/* ----------------------------------- Fonts */

@font-face {
    font-family: 'gunny_rewrittenregular';
    src: url('/static/fonts/gnyrwn971-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.display-font {
    font-family: 'gunny_rewrittenregular';
    font-size: 40px;
    letter-spacing: .2em;
    color: #7ab1c1;
}

/*.heart {
    padding-top: 20px
    margin-top; 0;
    margin-bottom: 20px
}*/

/* ----------------------------------- Button styles */

.programme-button {
    background: #7ab1c1;
    color: white;
    min-width: 180px;
    cursor: pointer;
}

.programme-button:hover,
.programme-button:active,
.programme-button:focus {
    background: #8AA0B8;  
    color: white;
}

/* ----------------------------------- Logo and Navbar */

.navbar-brand {
    width: 98vw;
    top: 0;
}

.navbar-brand img {
    display: block;
    margin: auto;
    padding-top: 30px;
}

.navbar-nav {
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar-nav li{
    border-right: 1px solid #eaeae8;
    display: inline-block;
    padding: 0 15px;
    margin-top: 10px;
}

.navbar-nav li:last-child {
    border-right:0;
} 

.navbar {
    min-height:120px;
    padding: 1rem 1.5rem;
    background-color: white;
}

.txt {
    margin-top:120px;
}

.navbar-toggler {
    margin-top:10px;
}

/* Get rid of the annoying black border on hamburger menu once clicked!!
https://stackoverflow.com/questions/50668594/remove-border-color-for-navbar-toggler-hamburger-icon-in-bootstrap-using-css*/
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.brand-logo {
    width: 250px;
}

.nav-item {
    font-size: 1.5em;
    font-family: gunny_rewrittenregular;
    letter-spacing: .2em;
    margin-right: 20px;
}

.nav-link {
    color: #7ab1c1;
}

.nav-link:hover {
    color: #808080;  
}

.dropdown-menu {
    font-size:  1.3rem;
}

a.dropdown-item {
    color: #7ab1c1;
}

a.dropdown-item:hover {
    color: #808080;
}

.dropdown-toggle::after {
    content: none;
}

.fa-bars {
    color: #4199ae;
}

.fa-bars:hover {
    color: #808080 !important;
}

/*.shopping-bag-icon {
    padding-bottom: 0;
}

.fa-shopping-bag {
    color: #4199ae;
}*/

.fas:hover{
    color: #808080;  
}

/* -------------------------------- Hero Image grid */

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding-top: 100px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.image-one, .image-two, .programme-button {
    grid-row: 1 / 2;
}

.image-one {
    grid-column: 1 / 3;
    width: 150%;
    /*width: 384px;
    height: 575px;*/
}

.image-two {
    grid-column: 2 / -1;
    width: 100%;
    /*width: 768px;
    height: 480px;*/
    align-self: center;
}

/* -------------------------------- Footer */

.clear {
    clear: both; height: 60px; 
}



/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  
    .brand-logo {
        width: 375px;
    }

}

  /* Desktops and laptops */
  @media (min-width: 992px) and (max-width: 1200px) {
    
    body {
        padding-top: 220px;
    }

    .brand-logo {
        width: 275px;
    }

    .navbar-brand {
        padding-top: 0px;
    }

    .light-background {
        padding: 40px 40px 40px 40px;
    }

}
 
  /* Tablets and landscape mobile */
  @media (min-width: 768px) and (max-width: 992px) {

    body {
        padding-top: 125px;
    }

    .brand-logo {
        width: 190px;
    }

    .navbar-brand {
        padding-top: 0px;
    }
    
    .light-background {
    padding: 40px 0px 40px 0px;
    }

}

  /*  Smaller screens and large Mobile */
  @media (min-width: 576px) and (max-width: 768px) {
      
    body {
        padding-top: 120px;
    }  
    
    .brand-logo {
        width: 190px;
    }

    .navbar-brand {
        padding-top: 0px;
    }

    .light-background {
        padding: 30px 0px 30px 0px;
    }
  
    .nav-link {
        padding: 0;
    }
  
    .navbar {
          padding: .5rem .75rem;
    }
  
    .product-details {
      margin-top: 0px;
    }
  }
  
  /* Small mobile screens */
  @media (min-width: 0px) and (max-width: 576px) {
  
      body {
          height: calc(100vh - 116px);
          font-size: .8rem;
          padding-top: 120px;
      }
      
      .brand-logo {
        width: 190px;
      }

    .navbar-brand {
        padding-top: 0px;
    }

    .light-background {
        padding: 30px 0px 30px 0px;
    }

      .nav-link {
          padding: .1rem;
      }
  
      .navbar {
          padding: .5rem .7rem;
      }
  
      .nav-link i.fa-lg {
          font-size: 1rem;
      }
  
      .nav-item {
      font-size: 1rem;
      letter-spacing: .2em;
      margin-right: 20px;
      }
  
      .product-details {
      margin-top: 0px;
      }
  
      .product-detail-row {
          padding-top: 0px;
      }
  
      .title-font {
      letter-spacing: 0;
      }
  
      .social-icon {
      margin-right: 5px;
      margin-left: 5px;
      font-size: .9rem;
      }
  
  }
