{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container-fluid header">
    <div class="row">
        <div class="col text-center mt-3">
            <hr class="w-50 mt-1 mx-auto">
            <h2 class="display-6 d-none d-lg-block">Programmes</h2>
            <h2 class="display-6 d-lg-none">Programmes</h2>
            <hr class="w-50 mb-1 mx-auto">
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row programme-detail-row">
        <div class="col-12 col-md-6 col-lg-4">
            <div class="image-container my-5">
                {% if programme.image %}
                    <a href="{{ programme.image.url }}" target="_blank">
                        <img class="card-img-top img-fluid" src="{{ programme.image.url }}" alt="{{ programme.name }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ programme.name }}">
                    </a>
                {% endif %}
            </div>
                <div class="programme-details-container mb-5 mt-md-5">
                    <h5 class="mb-0 mt-4 font-weight-bold lead">{{ programme.name }}</h5>
                    <small class="text-muted mt-3">{{ programme.programme_length }}</small>
                    <p class="lead mt-3 mb-0 text-left">£{{ programme.programme_cost }}</p>
                    <p class="description-text mt-3">{{ programme.description }}</p>
                    <!--{% if request.user.is_superuser %}
                    <small>
                        <a href="{% url 'edxit_programme' programme.id %}">Edit</a> |
                        <a class="text-danger" href="{% url 'delete_programme' programme.id %}">Delete</a>
                    </small>
                    {% endif %}-->
                </div>
        </div>
    </div>
</div>  

<!--<div class="container-fluid">
    <div class="row programme-detail-row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if programme.image %}
                    <a href="{{ programme.image.url }}" target="_blank">
                        <img class="card-img-top img-fluid" src="{{ programme.image.url }}" alt="{{ programme.name }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ programme.name }}">
                    </a>
                {% endif %}
            </div>
        </div>
        <div class="programme-details col-12 col-md-6 col-lg-4">
            <div class="programme-details-container mb-5 mt-md-5">
                <h5 class="mb-0 mt-4 font-weight-bold lead">{{ programme.name }}</h5>
                <small class="text-muted mt-3">{{ programme.programme_length }}</small>
                <p class="lead mt-3 mb-0 text-left">£{{ programme.programme_cost }}</p>
                <p class="description-text mt-3">{{ programme.description }}</p>
                <!--{% if request.user.is_superuser %}
                <small>
                    <a href="{% url 'edxit_programme' programme.id %}">Edit</a> |
                    <a class="text-danger" href="{% url 'delete_programme' programme.id %}">Delete</a>
                </small>
                {% endif %}-->
            <!--</div>
        </div>
    </div>
</div>-->


{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">

    </script>
{% endblock %}

